.ingresar{
    .btn{
        margin: 5px 0px;
    }
    .error {
        color: red;
        font-weight: bold;
        border: 1px solid red;
        padding: 20px;
        margin: 20px 0px;
        border-radius: 5px;
    }
}